{% extends 'base.html' %}
{% block content %}
<h1>Destinations</h1>
{% for destination in destinations %}
<div class="destination">
  <img src="{{ destination.image.url }}" alt="{{ destination.name }}" class="destination-image">
  <div class="destination-info">
    <h2>{{ destination.name }}</h2>
    <p>{{ destination.description }}</p>
    <p>{{ destination.city }}, {{ destination.country }}</p>
    <a href="{% url 'tour_detail' destination.id %}" class="btn btn-primary">View Tours</a>
  </div>
</div>
{% endfor %}
{% endblock %}