{% extends 'base.html' %}

{% block content %}
<div class="box">
  <h1>{{ tour.name }}</h1>
  <img src="{{ tour.image.url }}" alt="{{ tour.name }}" class="tour-image">
  <p>{{ tour.description }}</p>
  <p id="price">Price: {{ tour.price }}</p>
  <a href="{% url 'create_booking' tour.id %}" class="btn btn-primary">Book Now</a>
  <h2>Reviews</h2>
  {% for review in tour.reviews.all %}
  <div class="review">
    <p>{{ user.username }}:</p>
    <p>{{ review.text }}</p>
  </div>
  {% endfor %}
  <a href="{% url 'add_review' tour.id %}" class="btn btn-secondary">Add Review</a>
</div>
{% endblock %}