{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Agency</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <h1>Travel Agency</h1>
    <nav>
      <ul>
        <li><a href="{% url 'destination_list' %}">Home</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 Travel Agency</p>
  </footer>
</body>

</html>